*{
    box-sizing: border-box;
}
body{
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}
ul{
    
    list-style: none;
}
.container, .tela-de-login{
    max-width: 375px;
    height: 667px;
    margin: 10% auto;
    background-color: rgba(255, 255, 255, 0.26);
    
}
.tela-de-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.tela-de-login img{
    margin-bottom: 30px;
    width: 130px;
}

.tela-de-login div{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.tela-de-login input{
    font-size: 14px;
    border: 1px solid #AEAEAE;
    text-align: center;
    width: 260px;
    height: 56px;
}
.tela-de-login input:focus{
    outline: none;
}

.tela-de-login button{
    width: 109px;
    height: 45px;
    margin: auto;
    border-radius: 9px;
    border: none;
    color: black;
    background-color: #E7E7E7;
    
}
.esconder{
    display: none;
    
}

header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 22px;
    box-shadow:  0 4px 6px 0 #00000034;
    background-color: #fff;
    
}
header ion-icon{
    font-size: 45px;
}

main{
    padding-top: 26px;
    overflow-y:scroll;
    overflow-x: hidden;
    height: 507px;
    
    
}

main li{
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #fff;
    margin: 4px 0;
    padding: 0 9px;
    
}
li {
   display: flex;
    gap:5px;
    font: normal 400 14px 'Roboto', sans-serif;
    word-wrap: break-word;

}
li .horario{
    color: lightslategrey;
    word-wrap: break-word;
}
li .remetente,li .destinatario{
    font: normal 700 14px 'Roboto', sans-serif; 
    word-wrap: break-word;
}
.status{
    background-color: #DCDCDC;
    word-wrap: break-word;
}
.private-message{
    background-color: #FFDEDE;
    word-wrap: break-word;
}

footer{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 22px;
    background-color: #fff;
    box-shadow:  0 -4px 6px 0 #00000034;
}

footer input{
    width: 80%;
    padding: 10px;
    border: none;
    font: italic 400 18px 'Roboto', sans-serif;
    
}
footer input::placeholder{
    color: black;
}
footer input:focus{
    outline: none;
}

footer ion-icon{
    font-size:26px;
    cursor: pointer;
}
div{
    word-wrap: break-word;
}